#contact_grid_container{
    display: grid;
    grid-template-areas: 'navbar'
    'the_section1'
    'contact_form_box'
    'contact_map_box'
    'homepage_about_section'
    'footer'
    ;
    grid-template-columns: 1fr;
}

#the_section1{
    grid-area: the_section1;
    @include headerSection;
}

#contact_form_box{
    grid-area: contact_form_box;
    border: $borderSettings;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
    height: 380px;
    display: grid;
    grid-template-areas: 'contact_form contact_info'
    ;
    grid-template-columns: 1fr 35%;
    grid-gap: 10px;
    font-family: 'Poppins';

    h2{
        border: $borderSettings;
        color: $contactTextColor;
        border-bottom: 1px solid $contactTextColor;
        width: 45%;

        #solid_border{
            border-bottom: 3px solid $themeColor;
        }
    }

    #contact_form{
        grid-area: contact_form;
        border: $borderSettings;

        #contact_input{
            margin-top: 20px;
            border: $borderSettings;
            height: 300px;

            input{
                padding: 8px;
                width: 230px;
                margin-right: 20px;
                outline: none;


                &::placeholder{
                    font-family: 'Poppins';
                }
            }
            #yourPhone{
                margin-right: 0px;
            }
            #yourMessage{
                margin-top: 20px;
                height: 150px;
                width: 786px;
                outline: none;
                padding: 5px;

                &::placeholder{
                    font-family: 'Poppins';
                }
            }
            #contact_form_submitBtn{
                @include readMoreButton;
            }
        }
    }
    #contact_info{
        grid-area: contact_info;
        border: $borderSettings;

        h4{
            font-weight: lighter;
        }
    
        img{
            transform: scale(0.6);
            height: 50px;
        }

        #contact_info_box{
            margin-top: 20px;
            #contact_info_contact1{
                @include homeContactInfo;
     
                 #contact_phone_logo{
                     @include homeAboutLogo;
                     border: 1px solid rgb(97, 97, 97);
                 }
                 #contact_phone_number{
                     @include homeAboutLogoText;
                 }
             }
             #contact_info_contact2{
                 @include homeContactInfo;
     
                 #contact_email_logo{
                     @include homeAboutLogo;
                     border: 1px solid red;
                 }
                 #contact_email_address{
                     @include homeAboutLogoText;
                 }
             }
     
             #contact_info_contact3{
                 @include homeContactInfo;
     
                 #contact_location_logo{
                     @include homeAboutLogo;
                     border: 1px solid rgb(97, 97, 97);
                 }
                 #contact_location{
                     @include homeAboutLogoText;
                     h4{
                         margin-top: 0;
                     }
                 }
             }
             
             #contact_info_contact4{
                 @include homeContactInfo;
     
                 #contact_time_logo{
                     @include homeAboutLogo;
                     border: 1px solid rgb(97, 97, 97);
                 }
                 #contact_time{
                     @include homeAboutLogoText;
                     h4{
                         margin-top: 10px;
                     }
                 }
             }
        }
    }
}

#contact_map_box{
    grid-area: contact_map_box;
    border: $borderSettings;
    margin-top: 70px;
    height: 400px;
    background: grey;
}

@import 'contactpage-responsive';