#courses_grid_container{
    display: grid;
    grid-template-areas: 'navbar'
    'the_section1'
    'courses_section1'
    'courses_section2'
    ;
    grid-template-columns: 1fr;

    h2{
        color: $headingsThemeColor;
    }
    
    h3{
        color: $headingsThemeColor;
        margin-top: 10px;
    }
}

// ************ COURSES SECTION 1 ************ //

#courses_section1{
    grid-area: courses_section1;
    border: $borderSettings;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 472px;
    display: grid;
    grid-template-areas: 'courses_section1_header'
    'courses_section1_courses'
    ;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-family: 'Poppins';

    // ************ COURSES SECTION 1 HEADER ************ //
    #courses_section1_header{
        grid-area: courses_section1_header;
        border: $borderSettings;
        height: 100px;
        text-align: center;
        h2{
            border-bottom: 1px solid grey;
            font-size: 1.5em;
            margin-top: 30px;
            margin-left: 400px;
            margin-right: 400px;
        }
    }

    // ************ COURSES SECTION 1 COURSES ************ //
    #courses_section1_courses{
        grid-area: courses_section1_courses;
        border: $borderSettings;
        height: 350px;
        display: grid;
        grid-template-areas: 'section1_courses1 section1_courses2 section1_courses3'
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        #section1_courses1{
            grid-area: section1_courses1;
            border: 2px solid #cecece;
            @include coursesBoxHover;

            #section1_courses1_header{
                @include coursesHeaderSection;
            }
        }
        #section1_courses2{
            grid-area: section1_courses2;
            border: 2px solid #cecece;
            @include coursesBoxHover;

            #section1_courses2_header{
                @include coursesHeaderSection;
            }
        }
        #section1_courses3{
            grid-area: section1_courses3;
            border: 2px solid #cecece;
            @include coursesBoxHover;

            #section1_courses3_header{
                @include coursesHeaderSection;
            }
        }
    }
}


// ************ COURSES SECTION 2 ************ //
#courses_section2{
    grid-area: courses_section2;
    border: $borderSettings;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 822px;
    display: grid;
    grid-template-areas: 'courses_section2_header'
    'courses_section2_courses'
    ;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-family: 'Poppins';

    #courses_section2_header{
        grid-area: courses_section2_header;
        border: $borderSettings;
        height: 100px;
        text-align: center;
        h2{
            border-bottom: 1px solid grey;
            font-size: 1.5em;
            margin-top: 30px;
            margin-left: 400px;
            margin-right: 400px;
        }
    }

    #courses_section2_courses{
        grid-area: courses_section2_courses;
        border: $borderSettings;
        height: 700px;
        display: grid;
        grid-template-areas: 'section2_courses1 section2_courses2 section2_courses3'
        'section2_courses4 section2_courses5 section2_courses6'
        'section2_courses7 . .'
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        #section2_courses1{
            grid-area: section2_courses1;
            border: 2px solid #cecece;
            @include coursesBoxHover;
            height: 350px;

            #section2_courses1_header{
                @include coursesHeaderSection;
            }
        }
        #section2_courses2{
            grid-area: section2_courses2;
            border: 2px solid #cecece;
            @include coursesBoxHover;
            height: 350px;

            #section2_courses2_header{
                @include coursesHeaderSection;
            }
        }
        #section2_courses3{
            grid-area: section2_courses3;
            border: 2px solid #cecece;
            @include coursesBoxHover;
            height: 350px;

            #section2_courses3_header{
                @include coursesHeaderSection;
            }
        }
        #section2_courses4{
            grid-area: section2_courses4;
            border: 2px solid #cecece;
            @include coursesBoxHover;
            height: 350px;

            #section2_courses4_header{
                @include coursesHeaderSection;
            }
        }
        #section2_courses5{
            grid-area: section2_courses5;
            border: 2px solid #cecece;
            @include coursesBoxHover;
            height: 350px;

            #section2_courses5_header{
                @include coursesHeaderSection;
            }
        }
        #section2_courses6{
            grid-area: section2_courses6;
            border: 2px solid #cecece;
            @include coursesBoxHover;
            height: 350px;

            #section2_courses6_header{
                @include coursesHeaderSection;
            }
        }

        #section2_courses7{
            grid-area: section2_courses7;
            border: 2px solid #cecece;
            @include coursesBoxHover;
            height: 350px;

            #section2_courses7_header{
                @include coursesHeaderSection;
            }
        }
    }
}