@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 2){

  }

@media only screen
  and (min-device-width: 1200px)
  and (max-device-width: 1300px)
  and (-webkit-min-device-pixel-ratio: 2){
      #navbar{
        height: 90px;
        padding: 5px;
        top: 0;
    
        #nav_logo{
            margin-left: 20px;
            height: 90px;
            width: 25%;
        }
    
        #nav_links{
            margin-right: 10px;
            height: 75px;
            width: 65%;
            padding: 5px;
            
            #links_box{
                width: 65%;
                height: 40px;
                margin-top: 20px;
    
                ul{
                    margin-top: 10px;           
                    a{
                        font-size: 1.07em;
                        li{
                            margin-right: 35px;
                        }
                    }
                    
                }
            }
    
            #search_box{
                width: 33%;
                height: 40px;
                margin-top: 20px;
    
                input{
                    margin-top: 10px;
                    height: 30px;
                    width: 180px;
    
                    &:focus{
                        width: 210px;
                    }
                }
                #search_icon{
                    margin-top: 10px;
                    height: 28px;
                    width: 50px;
                }
            }
        }
    }
    #main_content{
        height: 450px;
        display: grid;
        grid-gap: 50px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 150px;
    
        #intro_info{
            height: 420px;
    
            h3{
                font-size: 1.5em;
                width: 40%;
            }
            h5{
                margin-top: 30px;
                font-size: 1.1em;
            }
        }
    
        #intro_img{
            height: 420px;
            grid-gap: 20px;
    
            img{
                height: 100%;
                width: 100%;
            }
    
            #intro_img1{
                height: 195px;
                overflow: hidden;
            }
            #intro_img2{
                height: 195px;           
            }
            #intro_img3{
                height: 195px;          
            }
            #intro_img4{
                height: 195px;           
            }
        }
    }
    #main_logo{
        height: 300px;
        grid-gap: 50px;
        padding: 40px;
        margin-top: 150px;
        font-size: 0.9em;
        font-weight: lighter;
    }
  }