// This is the mixins partial

// This is for background images that contain
@mixin containBgImg{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


@mixin coverBgImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin logoImgSettings {
    border: $borderSettings;
    width: 100%;
    height: 100px;
}

@mixin logoHeadSettings {
    margin-top: 10px;
    border: $borderSettings;
    width: 100%;
    height: 50px;
}

@mixin logoTextSettings {
    border: $borderSettings;
    width: 100%;
    height: 130px;
    margin-top: 10px;
}