// This is the mixins partial

// This is for background images that contain
@mixin containBgImg{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


@mixin coverBgImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin logoImgSettings {
    border: $borderSettings;
    width: 100%;
    height: 100px;
}

@mixin logoHeadSettings {
    margin-top: 10px;
    border: $borderSettings;
    width: 100%;
    height: 50px;
}

@mixin logoTextSettings {
    border: $borderSettings;
    width: 100%;
    height: 130px;
    margin-top: 10px;
}

@mixin imageZoomHover{
    transition: all 0.9s;

    &:hover{
        transition: all 0.9s;                
        transform: scale(1.5);
    }
}

@mixin introImageSettings{
    height: 195px;
    overflow: hidden;
}

@mixin menu_hamburger_lines{
    border: 1px solid $themeColor;
    margin-top: 10px;
    transition: all 0.3s;
}

@mixin statistics_box{
    border: $borderSettings;
    height: 50px;
    font-size: 1.1em;
}

@mixin statistics_border{
    border-top: 5px solid $themeColor;
    width: 30%;
    animation: border_width 3s;

    @keyframes border_width {
        0%{
            width: 0%;
        }
        100%{
            width: 30%;
        }
    }
}

@mixin theTeamTextInfo{
    color: grey;
    font-weight: lighter;
}

@mixin readMoreButton{
    margin-top: 20px;
    border: none;
    outline: none;
    background: $themeColor;
    color: white;
    width: 100px;
    height: 40px;
    font-family: 'Poppins';
    transition: width 0.6s;

    &:hover{
        transition: width 0.6s;
        width: 140px;
    }
}

@mixin homeContactInfo{
    margin-top: 10px;
    height: 50px;
    border: $borderSettings;
}

@mixin homeAboutLogo{
    float: left;
    height: 50px;
    width: 12%;
    border-radius: 4px;
}

@mixin homeAboutLogoText{
    float: right;
    height: 50px;
    width: 83%;
    border: $borderSettings;

    h4{
        margin-top: 10px;
    }
}

@mixin homeAboutLinks{
    ul{
        margin-top: 20px;
        li{
            margin-top: 10px;
            list-style: square;

            a{
                color: grey;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                transition: all 0.4s;

                &:hover{
                    border-color: black;
                    transition: all 0.4s;
                }
            }
        }
    }
}

@mixin sliderBtns{
    position: absolute;
    top: 500px;
    height: 30px;
    width: 50px;
    background: $themeColor;
    // transition: all 0.5s;
}

@mixin headerSection{
    height: 250px;
    background: rgb(235, 235, 235);
    font-family: 'Poppins';
    text-align: center;
    color: $contactTextColor;

    h2{
        margin-top: 70px;
        font-size: 1.8em;
    }

    h4{
        margin-top: 10px;
    }

    a{
        color: $themeColor;
        text-decoration: none;
    }
}

@mixin coursesBoxHover{
    cursor: pointer;
    background: white;
    transition: all 0.3s;

    &:hover{
        transition: all 0.3s;
        background: white;
        box-shadow: 0px 0px 10px #838383;
    }
}

@mixin coursesHeaderSection{
    text-align: center;
    border: $borderSettings;
    height: 50px;
}

@mixin addToCartButton{
    margin-top: 15px;
    border: none;
    outline: none;
    background: $themeColor;
    color: white;
    height: 40px;
    width: 120px;
    margin-left: 36%;
    font-size: 1em;
    transition: width 0.6s;
    &:hover{
        transition: width 0.6s;
        width: 140px;
    }
}

@mixin coursesTextSettings{
    h2{
        color: $headingsThemeColor;
    }
    
    h3{
        color: rgb(0, 110, 255);
        margin-top: 10px;
    }

    h4{
        font-weight: lighter;
        margin-top: 10px;
        color: $headingsThemeColor;
        text-align: center;
    }
}