#portfolio_grid_container{
    display: grid;
    grid-template-areas: 'navbar'
    'the_section1'
    'the_portfolio_main'
    'sponsor_carousel'
    'homepage_about_section'
    'footer'
    ;
    grid-template-columns: 1fr;
}

#the_section1{
    grid-area: the_section1;
    @include headerSection;
}

#the_portfolio_main{
    grid-area: the_portfolio_main;
    border: $borderSettings;
    margin-top: 100px;
    height: 1250px;
    display: grid;
    grid-template-areas: 'portfolio_header'
    'portfolio_img_section'
    'portfolio_btn'
    ;
    grid-template-columns: 1fr;
    overflow: hidden;

    img{
        width: 100%;
        height: 300px;
        // @include imageZoomHover;
    }

    #portfolio_header{
        grid-area: portfolio_header;
        border: $borderSettings;
        height: 200px;
        text-align: center;
        font-family: 'Poppins';

        h2{
            color: $headingsThemeColor;
            font-size: 1.5em;
            border-bottom: 1px solid $headingsThemeColor;
            margin-left: 550px;
            margin-right: 550px;

            #solid_border{
                border-bottom: 3px solid $themeColor;
            }
        }
    }
    #portfolio_img_section{
        grid-area: portfolio_img_section;
        border: $borderSettings;
        height: 900px;
        display: grid;
        grid-template-areas: 'portfolio_img_row1'
        'portfolio_img_row2'
        'portfolio_img_row3'
        ;
        grid-template-columns: 1fr;

        #portfolio_img_row1{
            grid-area: portfolio_img_row1;
            border: $borderSettings;
            height: 300px;
            display: grid;
            grid-template-areas: 'row1_img1 row1_img2 row1_img3 row1_img4';
            grid-template-columns: 1fr 20% 30% 1fr;
            overflow: hidden;

            #row1_img1{
                grid-area: row1_img1;
                border: $borderSettings;
                overflow: hidden;
            }
            #row1_img2{
                grid-area: row1_img2;
                border: $borderSettings;
                overflow: hidden;
            }
            #row1_img3{
                grid-area: row1_img3;
                border: $borderSettings;
                overflow: hidden;
            }
            #row1_img4{
                grid-area: row1_img4;
                border: $borderSettings;
                overflow: hidden;
            }
        }
        #portfolio_img_row2{
            grid-area: portfolio_img_row2;
            border: $borderSettings;
            height: 300px;
            display: grid;
            grid-template-areas: 'row2_img1 row2_img2 row2_img3 row2_img4'
            ;
            grid-template-columns: 1fr 30% 20% 1fr;
            ;
            overflow: hidden;

            #row2_img1{
                grid-area: row2_img1;
                border: $borderSettings;
                overflow: hidden;
            }
            #row2_img2{
                grid-area: row2_img2;
                border: $borderSettings;
                overflow: hidden;
            }
            #row2_img3{
                grid-area: row2_img3;
                border: $borderSettings;
                overflow: hidden;
            }
            #row2_img4{
                grid-area: row2_img4;
                border: $borderSettings;
                overflow: hidden;
            }
        }
        #portfolio_img_row3{
            grid-area: portfolio_img_row3;
            border: $borderSettings;
            height: 300px;
            display: grid;
            grid-template-areas: 'row3_img1 row3_img2 row3_img3 row3_img4'
            ;
            grid-template-columns: 1fr 20% 30% 1fr;
            ;
            overflow: hidden;
            position: relative;

            #row3_img1{
                grid-area: row3_img1;
                border: $borderSettings;
                overflow: hidden;
            }
            #row3_img2{
                grid-area: row3_img2;
                border: $borderSettings;
                overflow: hidden;
            }
            #row3_img3{
                grid-area: row3_img3;
                border: $borderSettings;
                overflow: hidden;
            }
            #row3_img4{
                grid-area: row3_img4;
                border: $borderSettings;
                overflow: hidden;
            }
        }
    }
    #portfolio_btn{
        grid-area: portfolio_btn;
        border: $borderSettings;
        height: 100px;
        position: relative;
        font-family: 'Poppins';

        #portfolio_btn_1{
            position: absolute;
            border: 1px solid grey;
            border-radius: 2px;
            padding: 10px;
            left: 45%;
            top: 0%;
            transform: translate(-50%,50%);
            cursor: pointer;
        }
        #portfolio_btn_2{
            position: absolute;
            border: 1px solid grey;
            border-radius: 2px;
            padding: 10px;
            left: 50%;
            top: 0%;
            transform: translate(-50%,50%);
            cursor: pointer;
        }
        #portfolio_btn_3{
            position: absolute;
            border: 1px solid grey;
            border-radius: 2px;
            padding: 10px;
            left: 55%;
            top: 0%;
            transform: translate(-50%,50%);
            cursor: pointer;
        }
    }
}

.portfolio_1{
    display: none;
}
.portfolio_2{
    display: none;
}
.portfolio_3{
    display: none;
}