// This is the variables for sass partial

// This is the default border settings
// $borderSettings: 1px solid black;
$borderSettings: none;

// This is the theme color
$themeColor: #e1918a;

// This is the shadows for the images
$imgShadow: 5px 5px 10px grey;

// This is the color scheme for the contact page
$contactTextColor: rgb(99, 99, 99);

$headingsThemeColor: rgb(63, 63, 63);