// This is the variables for sass partial

// This is the default border settings
// $borderSettings: 1px solid black;
$borderSettings: none;

// This is the theme color
$themeColor: #e1918a;

$imgShadow: 5px 5px 10px grey;